/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Generic License assignment.

    Good luck, and have fun!
*/

div#license {
    width: 700px;
    border: solid 3px black;
    border-radius: 3%;
    padding: 24px;
    background: linear-gradient(to bottom right, #f1d790, rgba(231, 123, 50, 0.959));
}

div#left-side {
    display: inline-block;
    width: 65%;
}

div#right-side {
    display: inline-block;
    width: 34%;
}

div#id-and-expiration div {
    display: inline-block;
    color: blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10pt;
    margin: 0px 8px;
}

div#id-and-expiration div span {
    color: red;
    font-weight: bold;
}

div#address {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px 10px 10px;
}

div#small-pic-container,
div#data-fields {
    display: inline-block;
}

div#data-fields {
    margin: 0px 10px 0px;
}

div#small-pic-container img {
    width: 85px;
    opacity: 50%;
}

div#data-left,
div#data-right {
    display: inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blue;
    font-size: 10pt;
    padding-bottom: 15px;
}

div#data-left span,
div#data-right span {
    font-weight: bold;
    color: red;
}

div#signature {
    text-align: center;
}

div#right-side img {
    width: 100%;
    padding-bottom: 35px;
}

div#donor-and-real-id {
    text-align: center;
}

div#donor,
div#real-id {
    display: inline-block;
}

div#donor {
    color: red;
    font-weight: bold;
}

div#real-id {
    color: white;
    font-weight: bold;
    background-color: rgb(243, 201, 12);
    border-radius: 50%;
    padding: 3px;
    margin: 0px 12px;
}

h1 {
    font-size: 40pt;
    color: rgb(32, 32, 88);
    margin: 0px;
    padding-top: 14px;
}

h4 {
    background-color: rgb(32, 32, 88);
    color: white;
    font-size: 20px;
    padding: 5px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 100px;
}