* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

/* Sculptor's Haven Navbar Setup */

#sh-navbar {
    background: linear-gradient(to bottom, green, #3e6d3e);
    display: flex;
    align-items: center;
}

#sh-navbar a {
    text-decoration: none;
    color: white;
    padding: 24px;
}

#sh-navbar #logo {
    margin-right: auto;
}

/* AngelEars Navbar Setup */
#ae-navbar {
    background: linear-gradient(to bottom, green, #3e6d3e);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#ae-navbar a {
    text-decoration: none;
    color: white;
    padding: 24px;
}

#ae-navbar .cta-buttom {
    background-color: white;
    color: green;
    border-radius: 36px;
    padding: 16px 24px;
    font-size: 20px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
    margin-right: 24px;
}

/* Tailored Spooks Navbars Setup */

#header {
    position: sticky;
    top: 0px;
}

.content-column {
    width: 800px;
    margin: 0px auto;
}

#ts-navbar-middle {
    background: linear-gradient(to bottom, green, #3e6d3e);
}

#ts-navbar-middle .content-column {
    display: flex;
    justify-content: space-between;
    align-items: center;
}  

#ts-navbar-middle a {
    text-decoration: none;
    color: white;
    padding: 24px 0px;
}

#ts-navbar-middle .content-column div a {
    padding: 24px;
}

#ts-navbar-middle .cta-buttom {
    background-color: white;
    color: green;
    border-radius: 36px;
    padding: 16px 24px;
    font-size: 20px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
}

#ts-navbar-bottom {
    background: linear-gradient(to bottom, yellowgreen, olive);
}

#ts-navbar-bottom .content-column {
    display: flex;
    justify-content: space-between;
}

#ts-navbar-bottom a {
    text-decoration: none;
    color: white;
    padding: 12px 0px;
}