<style>
@import url('https://fonts.googleapis.com/css2?family=Akronim&family=Alumni+Sans+Collegiate+One:ital@0;1&family=Bahiana&display=swap');
</style>

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

/* Sculptor's Haven Navbar Setup */

#sh-navbar {
    background: linear-gradient(
        to bottom, 
        rgba(202, 166, 7, 0.856), 
        #5f4205
    );
    display: flex;
    align-items: center;
}

/* #sh-navbar h1 {
    border-radius: 50%;
} */

#sh-navbar a {
    text-decoration: none;
    color: rgb(226, 216, 205);
    padding: 24px;
}

#sh-navbar #logo {
    margin-right: auto;
}

#sh-navbar h1 {
    border-radius: 50px 35px;
    background-color: #77560d;
    padding: 0px 15px;
    font-family: "Bahiana", sans-serif;
    font-weight: 850;
}

/* AngelEars Navbar Setup */
#ae-navbar {
    background: linear-gradient(to top right, rgb(255, 179, 14), #e4750e);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#ae-navbar a {
    text-decoration: none;
    color: rgb(210, 224, 210);
    padding: 24px;
}

#ae-navbar h1 {
    font-family: "Alumni Sans Collegiate One", sans-serif;
    font-weight: 400;
}

#ae-navbar .cta-buttom {
    background-color: rgb(228, 171, 16);
    color: rgb(210, 224, 210);
    border-radius: 36px;
    padding: 16px 24px;
    font-size: 20px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
    margin-right: 24px;
}

/* Tailored Spooks Navbars Setup */

#header {
    position: sticky;
    top: 0px;
}

.content-column {
    width: 800px;
    margin: 0px auto;
}

.content-column p {
    text-align: center;
    font-weight: bold;
}

#ts-navbar-top {
    background-color: orange;
    padding: .5px 0px;
}

#ts-navbar-middle {
    background: linear-gradient(to bottom, rgb(238, 144, 4), #e69e40);
}

#ts-navbar-middle h1 {
    font-family: "Akronim", system-ui;
    font-weight: 400;
}

#ts-navbar-middle .content-column {
    display: flex;
    justify-content: space-between;
    align-items: center;
}  

#ts-navbar-middle a {
    text-decoration: none;
    color: rgb(236, 215, 25);
    padding: 24px 0px;
}

#ts-navbar-middle .content-column div a {
    padding: 24px;
}

#ts-navbar-middle .cta-buttom {
    background-color: rgb(236, 215, 25);
    color: rgb(238, 144, 4);
    border-radius: 36px;
    padding: 16px 24px;
    font-size: 20px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
}

#ts-navbar-bottom {
    background: linear-gradient(
        to bottom, 
        rgb(216, 117, 36), 
        rgb(212, 165, 8)
    );
}

#ts-navbar-bottom .content-column {
    display: flex;
    justify-content: space-between;
}

#ts-navbar-bottom a {
    text-decoration: none;
    color: rgb(236, 215, 25);
    padding: 12px 0px;
}