* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#hero-2 {
    background-image: url("../images/insta-1.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: flex-end;
}

#hero-2 #top-header {
    display: flex;
    height: 100%;
    padding-right: 80px;
    border-bottom: 2px solid rgb(64, 235, 64);
    
}

#hero-2 h5 {
    color: white;
}

#hero-2 h2 {
    font-size: 8vw;
    margin-bottom: 5vh;
    margin-right: 5vw;
    color: rgb(64, 235, 64);
}

#hero-2 h4 {
    font-size: 3vw;
    margin: 0px 5vw 0px 0px;
    color: rgb(64, 235, 64);
}

#hero-2 a {
    font-size: 1.5vw;
    display: inline-block;
    background-color: #333333;
    color: white;
    text-decoration: none;
    padding: 24px;
    margin: 5vh 5vw 10vh 0px;
}

#card-section {
    background-color: #bb2ae7;
    color: #4db6b1;
    padding: 48px;
}

.card-container {
    display: flex;
    justify-content: space-between;
}

.card {
    flex: 1;
    border: 3px solid #bfefff;
    padding: 36px;
    text-align: center;
    margin: 36px;
}

.card h3 {
    font-size: 36px;
    margin: 0px;
    color:rgb(64, 235, 64);
}

.card a {
    text-decoration: none;
}

#grid-layout {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-areas: 
        "header header"
        "sidebar main";
}

#header {
    grid-area: header;
    padding: 0px 36px;
}

#sidebar {
    grid-area: sidebar;
    padding: 0px 24px;
}

#layout {
    grid-area: main;
    display: flex; 
    flex-wrap: wrap; 
}

#sidebar ul {
    padding: 12px 0px;
    margin: 0px;
    list-style-type: none;
    border-bottom: 1px solid #AAAAAA
}

#layout {
    max-width: 800px;
    margin: 48px auto;
    text-align: center;
}

/* 
    Gallery setup 
*/
.cropped-grid-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 200px;
    padding: 24px;
    border: 10px solid #333333;
}

.cropped-grid-gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}