/*
    Write your CSS for the assignment here.

    You shouldn't need to modify the HTML;
    however, you are allowed to. 
    
    Just be aware that you may break some
    of the setup.css styling if you do so.
*/

.card-style-2 {
    width: 90vw;
    max-width: 350px;
    margin: 17px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 22px;
    width: 350px;
    background-color: rgb(250, 250, 248);
    flex-direction: column;
    border-radius: 25px;
}

.card-style-2 .animagram-header {
    margin: 20px;
}

/* .card-style-2 .animagram-header span {
    
} */

.card-style-2 .animagram-header .brand-name {
    padding-left: 90px;
    font-size: 30px;
}

.card-style-2 .profile-pic-container {
    text-align: center;
}

.card-style-2 .profile-pic-container img {
    width: 57%;
    border-radius: 50%;
    object-fit: cover
}

.card-style-2 h2 {
    text-align: center;
    margin: 0px;
}

.card-style-2 p {
    text-align: center;
    margin:0px 50px;
}

.animagram-footer {
    text-align: center;
    font-size: 25px;
    padding: 25px 0px;
}

.animagram-footer span {
    padding: 15px;
}