* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#grid-layout {
    display: grid;
    grid-template-columns: 150px 1fr 1fr;
    grid-template-areas: 
        "header header header"
        "viewer content sidebar";
}

#header {
    grid-area: header;
}

#header a {
    text-decoration: none;
    color: fuchsia;
    background-color: yellow;
    padding: 20px 50%;
}

#viewer-content {
    grid-area: viewer;
    margin: 10px 0px;
}

#viewer-content img {
    width: 100%;
    border-radius: 25px;
    border: 3px solid rgb(167, 143, 143);
    padding: 5px;
}

#sidebar-content {
    grid-area: sidebar;
    padding: 18px;
}

#sidebar-content #item h2 {
    color: black;
    border-bottom: 1px solid gray;
    padding: 12px;
    margin: 0px;
}

#sidebar-content #seller-info {
    color: black;
    padding: 12px;
    font-size: 18px;
    margin: 0px;
}

#sidebar-content #price {
    color: black;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 12px;
    font-size: 18px;
    margin: 0px;
}

#sidebar-content #buying {
    color: black;
    padding: 12px;
    font-size: 18px;
    margin: 0px;
}

#seller-info {
    display: flex;
    flex-direction: row;
}

#seller-info-1,
#seller-info-2 {
    padding-left: 10px;
    padding-right: 10px;
}

#sidebar-content #seller-info a {
    color: black;
}

#sidebar-content #buying span {
    font-weight: bold;
}

#sidebar-content #buttons div a {
    text-decoration: none;
    border: 1px solid blue;
    display: block;
    margin-top: 20px;
    padding: 15px;
    border-radius: 25px;
    text-align: center;
    color: blue;
}

#sidebar-content #buttons #buy a {
    color: white;
    background-color: blue;
}

#sidebar-content #buttons #buy span {
    font-weight: bold;
}

#main-content {
    grid-area: content;
    padding: 0px 25px;
    margin: 10px;
    background-color: rgba(209, 206, 198, 0.938);
    border-radius: 25px;
}

#main-content img {
    width: 100%;
}