@import url("https://use.typekit.net/bps3iis.css");
@import url('https://fonts.googleapis.com/css2?family=Caladea:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#layout #hero {
    background: url(../images/spices.jpg);
    height: 100vh;
    background-size: cover;
    background-position: cover cover;
    position: relative;
}

#layout #hero #hero-content {
    position: absolute;
    top: 45%;
    right: 10%;
}

#hero h2,
#hero h3 {
    color: #8F1A21;
}
