@import url("https://use.typekit.net/bps3iis.css");
@import url('https://fonts.googleapis.com/css2?family=Caladea:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background-color: #E7ECD4;
}

/*
    Navbar setup and configuration
*/
.content-column {
    max-width: 800px;
    margin: 0px auto;
}

#navbar-top {
    background: linear-gradient(
        to bottom,
        #601215,
        #ED1C24,
        #8F1A21
    ); 
}

#navbar-top p {
    font-size: 18pt;
    font-family: Aptly;
    color: #E7ECD4;
    text-align: center;
    margin: 0px;
    padding: 5px;
}  

#navbar-bottom {
    background-color: #E7ECD4;
}

#navbar-bottom .content-column {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar-bottom a {
    text-decoration: none;
    color: #601215;
    font-family: Caladea;
    font-size: 20px;
    padding-right: 5px;
}

/* #navbar-bottom #logo {

} */

#navbar-bottom #logo img {
    width: 250px;
    padding-top: 7px;
}

/* Hero setup and configuration */
#layout #hero {
    background: url(../images/rice-dish.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center center;
    position: relative;
}

#layout #hero #hero-content {
    position: absolute;
    bottom: 20%;
    right: 20%;
}

#hero h2 {
    color: #E7ECD4;
    font-family: Aptly;
    font-weight: bold;
    font-size: 75pt;
}

#hero h3 {
    color: #E7ECD4;
    font-family: Aptly;
    font-size: 30pt;
}

#hero a {
    font-family: Caladea;
    font-weight: bold;
    text-decoration: none;
    color:#E7ECD4;
    background-color: #8F1A21;
    padding: 20px;
    margin-top: 5px;
    margin-right: 35px;
    border-radius: 25px;
    transition: 
        background-color 0.25s;
}

#hero a:hover {
    background-color: #601215;
}

#footer {
    background-color:#8F1A21;
    color: white;
    text-align: center;
    font-size: 16px;
    font-family: Caladea;
    font-weight: bold;
    padding: 5px 0px;
}

/* #menu-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
} */

#title {
    background:url(../images/africa.jpg);
    height: 100%;
    background-size: contain;
    background-position: center center;
    position: relative;
    padding: 10px;
    color: white;
}

#title h2 {
    background-color: #4D694F;
    text-align: center;
}

#menu-content {
    display: flex;
    flex-direction: column;
    margin: 15px;
}

#menu-content #spicy {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu-content #spicy-content h2 {
    font-size: 35px;
    font-family: Aptly;
    border-bottom: 3px solid #4D694F;
}

#menu-content #spicy-content h3 {
    font-size: 27px;
    font-family: Caladea;
}

#menu-content #spicy-content p {
    font-size: 18px;
    font-family: Caladea;
}

#menu-content #spicy-content #price {
    font-size: 35px;
    font-weight: bold;
    font-family: Caladea;
}

#spicy img {
    height: 50vh;
    margin-right: 15px;
    border-radius: 25px;
}

#menu-content #dishes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

#menu-content #dishes .cards {
    margin-right: 25px;
    /* object-fit: cover; */
}

#menu-content #dishes .cards h2 {
    font-size: 29px;
    font-family: Aptly;
    border-bottom: 3px solid #4D694F;
}

#menu-content #dishes .cards h3 {
    font-size: 24px;
    font-family: Caladea;
}

#menu-content #dishes .cards p {
    font-size: 29px;
    font-weight: bold;
    font-family: Caladea;
}

@media screen and (max-width: 868px) and (min-width: 683px) {
    #navbar-bottom .content-column {
        flex-direction: column;
        align-items: center;
    }

    #menu-content #spicy {
        flex-direction: column;
        align-items: center;
    }

    #spicy img {
        height: 45vh;
    }

    #spicy-content {
        max-width: 600px;
    }

    #menu-content #dishes {
        flex-wrap: wrap;
    }

    #menu-content #dishes .cards {
        flex: 250px;
    }
}

@media screen and (max-width: 682px) {
    #menu-content #dishes {
        flex-wrap: wrap;
    }
    #menu-content #dishes .cards {
        flex: 300px;
    }
}